//color
$color-primary: rgb(153, 0, 153);
$color-primary-light: rgb(255, 58, 255);
$color-primary-dark: rgb(88, 31, 88);
$color-white: #fff;
$color-black: #000;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-light-1: #ebe9e9;
$color-gray-light-2: #dad8d8;

$color-secondary-light: #7cd5ff;
$color-secondary-dark: #030eb6;

$color-tertiary-light: #faf874;
$color-tertiary-dark: #c26f03;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font
$default-font-size: 1.6rem;
