.feature-box {
  background-color: rgba($color: $color-white, $alpha: 0.8);
  font-size: 1rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);
  transition: all 0.3s;

  @include respond(tab-port) {
    padding: 0.5rem;
  }

  &__icon {
    font-size: 5rem;

    background-image: linear-gradient(
      to right,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary-light, 0.8)
    );
    -webkit-background-clip: text;

    color: transparent;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 3.5rem 4rem rgba($color: $color-black, $alpha: 0.45);
  }
}
